// $primary-color: #5cafe7;
$primary-color: #57a2b9;
// $secondairy-color: #fbfbfb;
$secondairy-color: #f6f2e2;
//couleur du background
// $tertiary-color: #ffe361;
$tertiary-color: #d4d4a5;
//couleur écritures sur primary
$hover-color: #72a1b4;
//couleur hover primary
$line-color: #99b8a9;

$title-font: 2rem;
$subtitle-font: 1.35rem;
$regular-font: 1.25rem;

$media-mobile: 680px;
$media-mobileV: 600px;

@mixin screen-mobile {
  @media screen and (max-width: $media-mobile) {
    @content;
  }
}

@mixin screen-mobileV {
  @media screen and (max-height: $media-mobileV) {
    @content;
  }
}
